<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835121537715-c9to5lehvpef91t23l1t8hu9tluhbdbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835121537715-c9to5lehvpef91t23l1t8hu9tluhbdbd</string>
	<key>API_KEY</key>
	<string>AIzaSyD6jXIEKDD_XvndD6R_8Kq0oaUF-fz9ysU</string>
	<key>GCM_SENDER_ID</key>
	<string>835121537715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.myNotesProject</string>
	<key>PROJECT_ID</key>
	<string>notesproject-fd666</string>
	<key>STORAGE_BUCKET</key>
	<string>notesproject-fd666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835121537715:ios:e3bbb938eed9e3f1a986c6</string>
	<key>DATABASE_URL</key>
	<string>https://notesproject-fd666.firebaseio.com</string>
</dict>
</plist>